= f.input :title, :autofocus => "autofocus"
= f.input :description, :as => :wysiwyg
%p.markdownLink La syntaxe #{link_to "Markdown", "http://github.github.com/github-flavored-markdown/","data-skip-pjax" => "true", :target => "_blank", :id => "markdownHelp"} est supportée
= f.input :tag_list, :url => autocomplete_tag_name_questions_path, :as => :autocomplete
.block
  = f.button :submit
