- feed("RailsFrance » Questions", questions_url(:atom))
- set_meta_tags :title => "Toutes les questions à propos de Ruby On Rails"
%section.worldMap
  %header#sectionHeader
    %hgroup
      %h1
        %span 
          Les
        Questions
  %nav#secondaryNav
    %div#secondaryNavContainer
      %h2
        Trier par
      %ul
        %li.shadow
          = sortable "Date", "created_at"
        %li.shadow
          = sortable "Votes", "up_votes"
        %li.shadow
          = sortable "Réponses", "answers_count"
        %li.shadow
          = link_to "Poser une question", new_question_path, :class => "navButton add"
        %li
          = link_to "Tags", tags_path, :class => "navButton add"
        %li
          = link_to "RSS", questions_url(:atom), :class => "navButton rss"
  .theContent
    - if @questions.empty?
      %p.noAnwser Aucune question pour le moment
    - else
      %ul.questionList.theContentList
        = render @questions
      .pagination
        = paginate @questions
