- feed("RailsFrance » Questions", questions_url(:atom))
- set_meta_tags :title => "Toutes les questions à propos de Ruby On Rails"

%nav#stationNav.fullwidth
  %div
    %h2 Trier par
    = sortable "Date", "created_at"
    = sortable "Votes", "up_votes"
    = sortable "Réponses", "answers_count"
#questions.fullwidth
  %aside
    = link_to "Poser une question", new_question_path, :class => "buttonCurved" 
    = link_to "Tags", tags_path, :class => "buttonCurved"
    = link_to image_tag("rss.png", :width => 32, :height => 32), questions_url(:atom), "data-skip-pjax" => true, :class => "buttonCurved"
  = render @questions
  #pagination.center960
    = paginate @questions
