%section#connection.fullwidth
  %hgroup.fullwidth
    %h1
      %span#arabesqueLeft &nbsp;
      %span MON
      COMPTE
      %span#arabesqueRight &nbsp;
  %nav#connectionNav.fullwidth
    %div#connectionMenu
      = link_to "Mon profil", user_path(resource), "data-skip-pjax" => "true"
      = link_to "Deconnexion", destroy_user_session_path, :method => :delete, "data-skip-pjax" => "true"
      = link_to "Annuler mon compte", registration_path(resource_name), :confirm => "Etes-vous sûr?", "data-skip-pjax" => "true", :method => :delete
%aside#connectionAside.fullwidth
  = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :id => "myAccount" }) do |f|
    %fieldset
      %legend Mon compte
      #newUserLeft
        = f.input :email,:autofocus => "autofocus"
        = f.input :github
        = f.input :twitter
        = f.input :website
        = f.input :city
      #newUserRight
        = f.input :postal_code
        = f.input :password, :required => false, :placeholder => "Laisser vide si vous ne désirez pas le changer"
        = f.input :password_confirmation, :required => false
        = f.input :current_password, :required => true, :placeholder => "Requis pour confirmer les changements"
        = f.button :submit, "Modifier"
