- set_meta_tags title: "Toutes les offres d'emplois disponibles en Ruby On Rails"
%li.theContentListLi
  %aside
    = l(job.created_at, format: :tiny)
  %article
    %h2.theContentListTitle
      = link_to job.title, job_path(job), class: "theContentListTitle"
    .jobDescription
      = truncate(sanitize(job.description), length: 200).html_safe
    .informationsBlock
      .jobCompany
        Employeur :
        %span
          = link_to_company job
      .jobCity
        Lieu :
        %span
          = job.city
      .jobType
        Type:
        %span
          = format_contracts job.contracts
