- feed("RailsFrance » Jobs", jobs_url(:atom))
%nav#jobsNav.fullwidth
  #jobsSort
    = simple_form_for @search, :url => jobs_path, :html => {:id => 'search',:method => :get} do |f|
      %div.input
        = f.label :cdi
        = f.input :cdi, :as => :boolean, :label => false, :wrapper => false
      %div.input
        = f.label :cdd
        = f.input :cdd, :as => :boolean, :label => false, :wrapper => false
      %div.input
        = f.label :freelance
        = f.input :freelance, :as => :boolean, :label => false, :wrapper => false
      %div.input
        = f.label :internship, "Stage"
        = f.input :internship, :as => :boolean, :label => false, :wrapper => false
#jobs.fullwidth
  %aside#jobsAside
    = link_to "Déposer une offre", new_job_path, :id => "addJob", :class => "buttonCurved"
    = link_to image_tag("rss.png", :width => 32, :height => 32), jobs_url(:atom), "data-skip-pjax" => true, :class => "buttonCurved"
  - if @jobs.empty?
    %p Aucune offre d'emploi pour le moment
  - else
    = render @jobs
  #pagination.center960
    = paginate @jobs
