- set_meta_tags title: "Offre d'emploi : #{@job.title}", description: @job.description.truncate(150)
%section.worldMap
  %header#sectionHeader
    %hgroup.jobsHeader
      %h1
        %span 
          Les
        JOBS
  %nav#secondaryNav
    %div#secondaryNavContainer
      %ul
        %li
          = link_to "Retour aux annonces", jobs_path, class: "navButton back"
        - if params[:action] == "preview"
          %li
            = link_to "Confirmer", confirm_jobs_path, class: "navButton"
  .theContent
    %article#theJob
      #theJobDate
        = l(@job.created_at, format: :tiny)
      %hgroup
        %h1
          = @job.title
      #theJobInformations
        .jobCompany
          Employeur :
          %span
            = link_to_company @job
        .jobCity
          Lieu :
          %span
            = @job.city
        .jobType
          Type:
          %span
            = format_contracts @job.contracts
      #theJobDescription.userMarkdown
        = markdown @job.description
      #theJobApply
        %p
          Vous souhaitez postuler pour ce poste ?
        %p
          Envoyer un email à
          = link_to @job.email, "mailto:#{@job.email}"
      - if params[:action] == "preview"
        .center
          = link_to "Confirmer", confirm_jobs_path, class: "button"
        
      
    
