- set_meta_tags :title => "Offre d'emploi : #{@job.title}", :description => @job.description.truncate(150)
.secondaryNav
.contentBackground
  %article#theJob.center960
    #theJobDate
      = l(@job.created_at, :format => :tiny)
    %h3
      = @job.title
    %aside.jobInformations
      .jobCompany
        Employeur :
        %span= @job.company
      .jobCity
        Lieu :
        %span= @job.city
      .jobType
        Type:
        %span= format_contracts @job.contracts
    #theJobDescription.userMarkdown
      = markdown @job.description
    .clear
    - if params[:action] == "preview"
      <br/>
      = link_to "Confirmer", confirm_jobs_path, "data-skip-pjax" => true, :class => "buttonSmall", :id =>"theJobConfirm"
    = link_to "<span>&nbsp;</span>Retour aux annonces".html_safe, jobs_path, :class => "buttonSmall backButton"
