%section#connection.sectionTitle
  %hgroup
    %h1
      %span#arabesqueLeft &nbsp;
      %span MOT
      DE PASSE OUBLIE
      %span#arabesqueRight &nbsp;
%nav#connectionNav.secondaryNav
  = render :partial => "devise/shared/links"
.contentBackground
  = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:id => "newUserPaswword", :method => :put }) do |f|
    %fieldset
      %legend Changement de votre mot de passe
      = f.input :reset_password_token, :as => :hidden
      = f.input :password, :autofocus => "autofocus"
      = f.input :password_confirmation
      = f.button :submit, "Changer mon mot de passe"

