- set_meta_tags :title => "RailsFrance.org | La communauté francophone des utilisateurs de Ruby On Rails", 
:description => "Questions, offres d'emplois, événements, Ruby On Rails, France"

%section#homeSection.worldMap
  %header#homeHeader
    %ul
      %li
        = link_to resources_path(:anchor => "discover"), "data-skip-pjax" => true, :id => "discoverRuby" do
          %span
            Découvrir
          %br
          Ruby on Rails     
      %li
        = link_to resources_path(:anchor => "download"), "data-skip-pjax" => true, :id => "downloadRuby" do
          %span
            Télécharger
          %br
          Ruby on Rails
      %li
        = link_to resources_path(:anchor => "learn"), "data-skip-pjax" => true, :id => "learnRuby" do
          %span
            Apprendre
          %br
          à développer
      %li
        = link_to resources_path(:anchor => "community"), "data-skip-pjax" => true, :id => "contributeRuby" do
          %span
            Contribuer
          %br
          A la communauté
  #homeHgroup
    = link_to "Rails", "http://rubyonrails.org/","data-skip-pjax" => true, :target => "_blank"
    %div
      %h1
        Bienvenue sur le portail francophone de la communauté Ruby on Rails
      %p
        Ideoque fertur neminem aliquando ob haec vel similia poenae addictum oblato de more elogio revocari iussisse, quod inexorabiles quoque principes factitarunt. et exitiale hoc vitium, quod in aliis non numquam intepescit, in illo aetatis progressu effervescebat, obstinatum eius propositum accendente adulatorum cohorte.
  #homeContent
    #homeEvents.homeContent
      %h2
        Les évènements Rails
      %ul
        %li
          %article
            %h3
              = link_to "Envylabs", "#"
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua....
        %li
          %article
            %h3
              = link_to "Envylabs", "#"
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua....
        %li
          %article
            %h3
              = link_to "Envylabs", "#"
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua....
      = link_to "Voir tous les évènements", events_path, "data-skip-pjax" => true, :class => "smallButton"
    #homeJobs.homeContent
      %h2
        Les Jobs Rails
      %ul
        %li
          %article
            %h3
              = link_to "Envylabs", "#"
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua....
        %li
          %article
            %h3
              = link_to "Envylabs", "#"
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua....
      = link_to "Voir tous les Jobs", jobs_path, "data-skip-pjax" => true, :class => "smallButton"
    #homeTweets.homeContent
      %h2
        Les Derniers Tweets
      %ul
        - @presenter.recent_tweet.each do |tweet|
          %li
            %p
              = tweet['text']
              %br
              %span= "{ Il y a #{distance_of_time_in_words tweet['created_at'].to_time, Time.now} }"
      = link_to  "Accéder au Twitter", "http://twitter.com/railsfrance","data-skip-pjax" => true, :target => "_blank", :class => "smallButton"
    %h4
      Les projets sur les rails
    %ul#railsProjectSlider
      - @presenter.rails_projects.each do |project|
        %li
          = link_to image_tag("home/caroussel/#{project[:img]}"), project[:link], :title => project[:title], :target =>"_blank", 'data-skip-pjax' => true
    
