- set_meta_tags :title => "RailsFrance.org | La communauté francophone des utilisateurs de Ruby On Rails", 
:description => "Questions, offres d'emplois, événements, Ruby On Rails, France"

%section#slider.fullwidth
  .center960
    %article
      - if user_signed_in?
        #homeMapContainer
          #homeMap
            #map_canvas.home{:style => "width:198px;height:240px;"}
        = link_to "VOIR LA CARTE", map_index_path , :class => "sliderButton buttonSmall", "data-skip-pjax" => true
      - else
        = image_tag "home/locomotive.png", :width => "230", :height => "187"
        #embarquementImmediat Embarquement Immédiat
        = link_to "J'EMBARQUE !", new_user_registration_path, :class => "sliderButton buttonSmall", "data-skip-pjax" => true
    %article#slideMiddle
      = image_tag "home/news-man.png", :width => "130", :height => "187"
      - @presenter.recent_news.each do |news|
        .sliderActu
          .sliderActuDate
            = news.created_at.day
            %span= l(news.created_at, :format => :month).upcase
          %h2
            = link_to truncate(news.title,:length => 30)
          .clear
      = link_to "TOUTE L'ACTU", news_index_path,:class => "sliderButton buttonSmall", "data-skip-pjax" => true
    %article
      = image_tag "home/bottle-and-whisky.png", :width => "248", :height => "187"
      - @presenter.recent_questions.each do |question|
        .sliderConvers
          %h2
            = link_to truncate(question.title,:length => 30), question
          %p
            POSTÉ PAR -
            = link_to question.user_username, user_path(question.user)
          %p
      = link_to "LES QUESTIONS", questions_path, :class => "sliderButton buttonSmall", 'data-skip-pjax' => true
    .clear.glow

%section#workersTweets.fullwidth
  .center960
    %article#workersContainer
      %hgroup
        %h1 LES JOBS RAILS
      %div#workersContent
        - @presenter.recent_jobs.each do |job|
          .worker
            = image_tag (job.logo_uid.present? ? job.logo.thumb('56x40').url : image_path('jobs/job_default.png')), :width => 56
            %div
              %h2= job.title
              = truncate(sanitize(job.description),:length =>150).html_safe
            = link_to "<span class=\"goLink\">VOIR</span>".html_safe, job_path(job), :class => "workerButton buttonSmall", "data-skip-pjax" => true
        .clear
    %article#tweetsContainer
      %hgroup
        %h1 LES OUVRIERS RAILS
      - @presenter.recent_tweet.each do |tweet|
        %p.tweet
          = tweet['text']
          %br
          %span= "{ Il y a #{distance_of_time_in_words tweet['created_at'].to_time, Time.now} }"
  .clear

%section#railsProject.fullwidth
  .center960
    %article#railsProjectContainer
      %h1 Les projets rails
      %ul#railsProjectSlider
        - @presenter.rails_projects.each do |project|
          %li
            = link_to image_tag("home/caroussel/#{project[:img]}"), project[:link], :title => project[:title], :target =>"_blank", 'data-skip-pjax' => true
      .clear
