%li.theContentListLi
  %aside
    = l(event.date, :format => :tiny)
  %article
    %h2.theContentListTitle
      = link_to truncate(event.title, :length => 50), event, :class => "theContentListTitle"
    .eventDescription
      = event.description
    .informationsBlock
      .eventCity
        Ville:
        %span
          = event.city
      .eventAddress
        Adresse :
        %span
          = event.street
      .eventHour
        Heure de l'événement :
        %span
          = l(event.date, :format => :short)
      