= f.input :title, autofocus: "autofocus"
= f.input :description, as: :wysiwyg
%p.markdownLink La syntaxe #{link_to "Markdown", "http://github.github.com/github-flavored-markdown/", target: "_blank", id: "markdownHelp"} est supportée
#eventFormLeft
  = f.input :street
  = f.input :postal_code
  = f.input :city
#eventFormRight
  = f.input :website, placeholder: "http://www.railsfrance.org"
  = f.input :date, as: :string
  %br
  %br
  = f.button :submit
