- set_meta_tags :title => "Tous les événements à venir"
- feed("RailsFrance » Evénéments", events_url(:atom))
%section.worldMap
  %header#sectionHeader
    %hgroup.eventHeader
      %h1
        %span 
          LES
        ÉVÉNEMENTS
  %nav#secondaryNav
    %div#secondaryNavContainer
      %h2 
        Nombre d'événements à venir :
      %div#eventNumber
        = @presenter.incoming_events
      %ul
        %li
          = link_to "Créer un événement", new_event_path, :id => "addEvent", :class => "navButton add"
        %li
          = link_to "RSS", events_url(:atom), :class => "navButton rss"
  .theContent
    %ul.eventList.theContentList
      = render @events
    .pagination
      = paginate @events