%section.worldMap
  %header#sectionHeader
    %hgroup.eventHeader
      %h1
        %span 
          LES
        ÉVÉNEMENTS
  %nav#secondaryNav
    %div#secondaryNavContainer
      %ul
        %li
          = link_to "Retour aux événements", events_path, :class => "navButton"
        - if can? :update, @event
          %li
            = link_to "Editer", edit_event_path(@event), :class => "navButton"
  .theContent
    %article#theEvent
      %hgroup
        %h1
          = @event.title
      #theEventInformation
        #theEventAddress
          Adresse :
          %span
            = link_to "#{@event.street} #{@event.postal_code} #{@event.city}", "http://maps.google.com/maps?q=#{CGI::escape([@event.street, @event.postal_code, @event.city].compact.join(' '))}","data-skip-pjax" => true, :target => "_blank"
        #theEventDate
          Date :
          %span
            = l(@event.date, :format => :tiny)
        #theEventHour
          Heure :
          %span
            = l(@event.date, :format => :short)
    #theEventDescription.userMarkdown
      = markdown @event.description
      %p
        = link_to @event.website, @event.website,"data-skip-pjax" => true, :target => "_blank"
   
      
