%article.news.center960
  .newsSummary
    %h3
      = link_to news.title, news_path(news)
    .newsDescription
      = sanitize(news.description).html_safe
    .newsComments
      = news.comments_count
      = pluralize_word(news.comments_count, "commentaire")
    .newsHourUser
      %span
        Posté il y a #{distance_of_time_in_words_to_now(news.created_at)}
      par #{link_to news.user_username, user_path(news.user), "data-skip-pjax" => true}
      = image_tag news.user_gravatar_url
  %aside.newsDate
    = l(news.created_at, :format => :tiny)
  .clear
