.secondaryNav
.contentBackground
  %article#theNews.center960
    #theNewsDate
      = l(@news.created_at, :format => :tiny)
    %h3
      = @news.title
    .userMarkdown
      = @news.description
    .postHourUser
      %span
        Posté il y a #{distance_of_time_in_words_to_now(@news.created_at)}
      par #{link_to @news.user_username, user_path(@news.user), "data-skip-pjax" => true}
      = image_tag @news.user_gravatar_url
    %h5
      Commentaires :
    %div.theComments
      - if @comments.empty?
        %p.noComment
          Aucun commentaire
      - else
        = render @comments
    #pagination.center960
      = paginate @comments
    #eventAnswer
      = simple_form_for @comment, :url => news_comments_path(@news), :html => { :method => :post } do |f|
        = f.input :description, :as => :wysiwyg, :label => "Ajouter un commentaire", :required => false
        = f.button :submit
      = render 'markdown/markdown'
    = link_to "<span>&nbsp;</span>Retour aux news".html_safe, news_index_path, :class => "buttonSmall backButton"
