%li{:class => ((answer == answer.question_accepted_answer) ? "theContentListLi validated" : "theContentListLi")}
  %aside.votesContainer
    - if user_signed_in?
      - if can? :vote, answer
        = link_to "Vote up", vote_question_answer_path(answer.question, answer, :vote => "up"), :class => "voteUp", "data-skip-pjax" => "true"
        .votesNumber
          #{answer.votes}
        = link_to "Vote down", vote_question_answer_path(answer.question, answer, :vote => "down"), :class => "voteDown", "data-skip-pjax" => "true"
      -else
        = link_to "Vote up", "#", :class => "voteUp disabled"
        .votesNumber
          #{answer.votes}
        = link_to "Vote down", "#", :class => "voteDown disabled"
      =  if can? :accept, answer
        = link_to "Accepter la réponse", accept_question_answer_path(answer.question, answer),:class => "answerAccept", "data-skip-pjax" => "true"
    -else
      = link_to "Vote up", "#", :class => "voteUp disabled"
      .votesNumber
        #{answer.votes}
      = link_to "Vote down", "#", :class => "voteDown disabled"
  %article
    = markdown answer.description
    .postHourUser
      %span
        Postée il y a #{distance_of_time_in_words_to_now(answer.created_at)} 
        par #{link_to answer.user.username, user_path(answer.user)} 
        = image_tag answer.user.gravatar_url

    

