%footer
  %ul
    %li
      = link_to "Crédits", "https://github.com/railsfrance/railsfrance.org/contributors",class: "footerLeft"
      %br/
      = link_to "Twitter", "http://twitter.com/#{Settings.twitter.account}",class: "footerLeft", target: "_blank"
    %li
      = link_to "dotCloud", "https://www.dotcloud.com/", id: "logoDotCloud",target: "_blank"
    %li
      = link_to "Contact", new_contact_path,class: "footerRight"
      %br/
      = link_to "Github", "https://github.com/railsfrance", class: "footerRight", target: "_blank"
  #footerBottom
