!!! 5
-ie_html :class => 'no-js', :lang => 'fr' do
  %head
    %meta{:charset => "utf-8"}
    = display_meta_tags :site => "Railsfrance.org", :reverse => true
    - if @feeds
      - @feeds.each do |link, title|
        = auto_discovery_link_tag(:atom, link, { :title => title })
    = stylesheet_link_tag :application
    = csrf_meta_tag
  %body
    #container
      = render "layouts/header"
      #main{:role => "main", "data-pjax-container" => true}
        = yield
    = render "layouts/footer"
    - if flash.present?
      - if flash[:notice].present?
        #flash.flashNotice
          %div.center960
            = image_tag "flash/true-icon.png"
            = flash[:notice]
      - elsif flash[:error].present?
        #flash.flashError
          %div.center960
            = image_tag "flash/error-icon.png"
            = flash[:error]
      - elsif flash[:alert].present?
        #flash.flashAlert
          %div.center960
            = image_tag "flash/notification-icon.png"
            = flash[:alert]
    = javascript_include_tag :application